.content {
  display: grid;
  grid-template-columns: 20vw 1fr;

}


.listProducts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 60px;
}

.card {
  background-color: #fff;
  width: 200px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 14px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;

}

.card:hover {
    cursor: pointer;

}
.price-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
.card .book-name {
  font-weight: bold;
  color: #003366;
  margin: 10px 0 5px 0;
}

.card .book-name:hover{
    text-decoration: underline;
}
.card .rating {
  color: gold;
  margin: 5px 0;
}

.card .price {
  color: #008000;
  margin-left: 35%;
  font-weight: bold;
}

.card i {
  color: #003366;
  cursor: pointer;
  margin-top: 10px;
  font-size: 20px;
}

.card i:hover {
  color: #008000;
}

.page-wrapper .banner {
  width: 100%;
  min-height: 20vh;
  background-color: #6899c9;
  margin-bottom: 5vh;
}
.page-wrapper .banner h1 {
  color: white;
  margin-left: 14vw;
  margin-top: 7vh;
}

.filter {
  position: sticky;
  top: 10px; 
  border: 1px solid #eee;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-left: 0.5vw;
  padding: 20px;
  margin-top: 2vh;
  border-radius: 5px;
  min-height: 10vh;
  height: fit-content;
}
.filter .filter-options {
  margin-top: 10px;
  display: none; 
  flex-wrap: wrap;
  gap: 10px;
}
.filter .filter-options button {
    padding: 5px 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
    width: 7vw;
    background-color: white;
    cursor: pointer;
    color:#003366;
    margin-left: 0.5vw;
}
.filter .filter-options button:hover {
  background-color: rgb(238, 238, 238);
}
.filter .filter-title {
  margin-left: 6vw;
}
.filter .filter-header {
  margin-left: 1vw;
  cursor: pointer;
}
.clear-filter {
  border: none;
  font-size: 14px;
  font-weight: 700;
  width: 10vw;
  padding: 1vw;
  border-radius: 50px;
  margin-top: 2vh;
  margin-left: 3.5vw;
  cursor: pointer;
  color: white;
  background-color: #0d3164;
}
.clear-filter:hover {
  background-color: rgb(255, 255, 255);
  color:#0d3164;
  border: solid black 1px;
}